<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Request Form</title>
</head>
<body>
    <h1>Event Request Form</h1>
    <form action="/event" method="POST">
        <label for="number-of-people">How many people:</label><br>
        <input type="number" id="number-of-people" name="number-of-people" min="1" required><br><br>

        <label>Event Type:</label><br>
        <input type="radio" id="event-sewing" name="event-type" value="sewing" required>
        <label for="event-sewing">Sewing</label><br>
        
        <input type="radio" id="event-non-sewing" name="event-type" value="non-sewing">
        <label for="event-non-sewing">Non-sewing</label><br>
        
        <input type="radio" id="event-both" name="event-type" value="both">
        <label for="event-both">Both</label><br><br>

        <label for="event-date">Date:</label><br>
        <input type="date" id="event-date" name="event-date" required><br><br>

        <label for="backup-date">Backup Date:</label><br>
        <input type="date" id="backup-date" name="backup-date" required><br><br>

        <label for="street-address">Event Street Address:</label><br>
        <input type="text" id="street-address" name="street-address" required><br><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br><br>

        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" required><br><br>

        <label for="zip">Zip Code:</label><br>
        <input type="text" id="zip" name="zip" required><br><br>

        <label for="group">Group (e.g., youth group, school club, etc.):</label><br>
        <input type="text" id="group" name="group" required><br><br>

        <label for="start-time">Desired Start Time:</label><br>
        <input type="time" id="start-time" name="start-time" required><br><br>

        <label for="event-length">Event Length (in hours):</label><br>
        <input type="number" id="event-length" name="event-length" min="1" required><br><br>

        <label for="contact-name">Contact Name:</label><br>
        <input type="text" id="contact-name" name="contact-name" required><br><br>

        <label for="phone-number">Phone Number:</label><br>
        <input type="tel" id="phone-number" name="phone-number" required><br><br>

        <label for="email">Email Address:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label>Would you like Jen to share her story?</label><br>
        <input type="radio" id="jen-share-yes" name="jen-share" value="yes" required>
        <label for="jen-share-yes">Yes</label><br>
        
        <input type="radio" id="jen-share-no" name="jen-share" value="no">
        <label for="jen-share-no">No</label><br><br>

        <label for="advanced-sewing">How many people in your group have advanced sewing skills?</label><br>
        <input type="number" id="advanced-sewing" name="advanced-sewing" min="0" required><br><br>

        <label for="basic-sewing">How many people in your group have basic sewing skills?</label><br>
        <input type="number" id="basic-sewing" name="basic-sewing" min="0" required><br><br>

        <label for="sewing-machines">How many sewing machines can you provide?</label><br>
        <input type="number" id="sewing-machines" name="sewing-machines" min="0" required><br><br>

        <label for="sergers">How many sergers can your group bring?</label><br>
        <input type="number" id="sergers" name="sergers" min="0" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
