<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1 class="text-center mb-4">Turtle Shelter Project</h1>

    <div class="row">
        <div class="col-4 scrollspy-nav">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Who we are</a>
              <a class="nav-link" href="#item-2">How we help</a>
              <a class="nav-link" href="#item-3">How you can help too</a>
            </nav>
          </nav>
        </div>
      
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Who We Are</h4>
              <p>Our founder, Jen used to be homeless. One especially cold winter in Utah, 7 of her friends froze to death. Jen, 
                no longer homeless, decided that she wanted to help those suffering from homelessness. She started the 
                Turtle Shelter Project with that intent - to <span style="font-weight: bold;">help those that suffer from homelessness. </span>
                We strive to use our time and resources to make the lives of our homeless friends easier, and we could use your help!
              </p>
            </div>
            <div id="item-2">
              <h4>How We Help</h4>
              <p> </p>
            </div>
            <div id="item-3">
              <h4>How You Can Help Too</h4>
              <p>  how you can help too  </p>
            </div>
          </div>
        </div>
      </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>