<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Sponsors - Turtle Shelter Project</title>
</head>
<body>
    <a href="https://www.goodshepherdogden.org/" target="_blank"></a><img src="/images/sponsors/cheney-brothers.png" alt="Cheney Brothers Construction"></a>
    <a href="https://www.goodshepherdogden.org/" target="_blank"></a><img src="/images/sponsors/design-source.svg" alt="Design Source"></a>
    <a href="https://www.goodshepherdogden.org/" target="_blank"><img src="/images/sponsors/episcopal-church.png" alt="The Episcopal Church of the Good Shepherd"></a>
    <a href="https://www.goodshepherdogden.org/" target="_blank"></a><img src="/images/sponsors/future-foam.svg" alt="Future Foam"></a>
    <a href="http://www.givemeachanceutah.org/" target="_blank"></a><img src="/images/sponsors/give-me-a-chance.gif" alt="Give Me A Chance - A Daughters of Charity Ministry"></a>
    <a href="https://www.goodshepherdogden.org/" target="_blank"></a><img src="/images/sponsors/minky-couture.svg" alt="Minky Couture"></a>
    <a href="https://www.goodshepherdogden.org/" target="_blank"></a><img src="/images/sponsors/outdoor-wilderness.jpg" alt="Outdoor Wilderness Fabrics"></a>
</body>
</html>